@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

:root {
    --white: #fff;
    --black: #1c2b2d;
    --blue: #073b4c;
    --light-blue: #118ab2;
    --color-primary: #ef476f;
    --color-sec: #ffd166;
    --grey: #eee;
    --dark-grey: #222831;
    --green: #06d6a0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    /* css smooth scrolling */
    /* scroll-behavior: smooth; */
}

body {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-size: 1.6rem;
    line-height: 1.5;
}

img {
    width: 100%;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    width: 100%;
    background-color: var(--black);
}

nav {
    height: 7.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2.5rem;
    color: var(--green);
}

.nav-list,
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list li {
    list-style: none;
    margin: 0 1.5rem;
}

.nav-list>li>a {
    color: var(--white);
    font-size: 1.6rem;
    text-decoration: none;
}

section {
    padding: 3rem 0;
}

.box {
    border: 1px solid var(--green);
    padding: 2rem;
    border-radius: 10px 0 10px 0;
}

h2 {
    color: var(--color-primary);
    font-size: 3rem;
}

.flex > * {
    margin: 5px;
}

p {
    display: flex;
    flex-direction: column;
}

footer {
    text-align: center;
}

a {
    display: inline;
}

.flex>img {
    width: 50%;
}